test-project-workspace/validator/schemas/iso20022/pacs008-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
           elementFormDefault="qualified">
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FIToFICstmrCdtTrf">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GrpHdr">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MsgId" type="Max35Text"/>
                                        <xs:element name="CreDtTm" type="ISODateTime"/>
                                        <xs:element name="NbOfTxs" type="Max15NumericText"/>
                                        <xs:element name="CtrlSum" type="DecimalNumber"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CdtTrfTxInf" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PmtId">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
                                                    <xs:element name="EndToEndId" type="Max35Text"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Amt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="InstdAmt">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="DecimalNumber">
                                                                    <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Cdtr">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nm" type="Max140Text"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>